<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>Здоровое питание</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}" />
	<link rel='stylesheet' href="{{url_for('static', filename='js/vendor/swiper/idangerous.swiper.css')}}"
		type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='js/vendor/swiper/idangerous.swiper.scrollbar.css')}}"
		type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='js/vendor/magnific-popup/magnific-popup.css')}}"
		type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='js/vendor/woocommerce/css/select2.css')}}"
		type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='js/vendor/woocommerce/css/woocommerce-layout.css')}}"
		type='text/css' media='all' />
	<link rel='stylesheet'
		href="{{url_for('static', filename='js/vendor/woocommerce/css/woocommerce-smallscreen.css')}}" type='text/css'
		media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' href="{{url_for('static', filename='js/vendor/woocommerce/css/woocommerce.css')}}"
		type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='css/fontello/css/fontello.css')}}" type='text/css'
		media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='css/fontello/css/animation.css')}}" type='text/css'
		media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='css/style.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='css/shortcodes.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='css/responsive.css')}}" type='text/css' media='all' />
	<link rel='stylesheet' href="{{url_for('static', filename='css/woo-style.css')}}" type='text/css' media='all' />

</head>

<body class="woocommerce woocommerce-page">

	<div id="wrap"
		class="wrap sideBarRight sideBarShow menuStyle1 menuSmartScrollShow blogStyleExcerpt bodyStyleWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG">
		<div id="wrapBox" class="wrapBox">

			<header id="header">
				<div class="menuFixedWrapBlock"></div>
				<div class="menuFixedWrap">
					<a href="#" class="openMobileMenu"></a>
					<a href="#" class="openTopMenu"></a>
				</div>
				<div class="logoHeader">
					<a href>
						<img src="{{url_for('static', filename='images/162x55.png')}}" alt="">
					</a>
				</div>
				<h1 class="subTitle">Здоровое питание</h1>
			</header>

			<div class="wrapContent">
				<div id="wrapWide" class="wrapWide">
					<div class="content">

						<section class="">
							<div class="container">
								<section class="post shop_mode_thumbs">
									<article class="post_content">
										<nav class="woocommerce-breadcrumb">
											<a href>Home</a>&nbsp;&#47;&nbsp;Shop
										</nav>
										<h1 class="page-title">Shop</h1>
										<p class="woocommerce-result-count">
											Showing 1&ndash;{{quantity_products}} of {{quantity_products}} results</p>
										<ul class="products">
											{% for row in products -%}
											{% if row[2] == 'product' -%}
											<li class="product">
												<a href>
											{% elif row[2] == 'first product' -%}
											<li class="first product">
												<a href>
													<span class="onsale">Sale!</span>
											{% elif row[2] == 'last product' -%}
											<li class="last product">
												<a href>
													<span class="onsale">Sale!</span>
											{% endif -%}
												
													<img src="{{url_for('static', filename='images/300x300.png')}}"
														class="attachment-shop_catalog" alt="baby food-1" />
													<h3>{{row[1]}}</h3>
													<span class="price">
														<span class="amount">&#8381;{{row[3]}}</span>
													</span>
												</a>
												<a href class="button add_to_cart_button product_type_simple">Добавить в корзину</a>
											</li>
											{% endfor -%}
										</ul>
										<nav class="woocommerce-pagination">
											<ul class='page-numbers'>
												<li>
													<span class='page-numbers current'>1</span>
												</li>
												<li>
													<a class='page-numbers' href='#'>2</a>
												</li>
												<li>
													<a class="next page-numbers" href="#">&rarr;</a>
												</li>
											</ul>
										</nav>
									</article>
								</section>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="buttonScrollUp upToScroll icon-up-open-micro"></div>

	<script type='text/javascript' src="{{url_for('static', filename='js/vendor/jquery-1.11.3.min.js')}}"></script>
	<script type='text/javascript' src="{{url_for('static', filename='js/vendor/jquery-migrate.min.js')}}"></script>
	<script type='text/javascript' src="{{url_for('static', filename='js/vendor/__packed.js')}}"></script>

	<script type='text/javascript' src="{{url_for('static', filename='js/custom/_utils.js')}}"></script>
	<script type='text/javascript' src="{{url_for('static', filename='js/custom/_front.min.js')}}"></script>
	<script type='text/javascript' src="{{url_for('static', filename='js/custom/shortcodes_init.min.js')}}"></script>
	<script type='text/javascript' src="{{url_for('static', filename='js/custom/__main.js')}}"></script>

</body>

</html>